.loader {
	position: absolute;
    z-index: 100;
	left: calc(50% - 100px);
	top: 400px;
	display: block;
	width: 150px;
	height: 150px;
	animation: loader 0.8s ease-out infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(390deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (min-width:68px) {
	.loader {
		width: 200px;
		height: 200px;
	}
}