<header class="header">
    <div class="container">
        <div>
            <svg-icon-sprite
            [src]="'sprite.svg#icon-logo'"
  [width]="'22px'"
  [classes]="'logo'"
></svg-icon-sprite>
            <a routerLink="/">CarRental</a>
            <nav>
                <ul>
                    <li> <a mat-flat-button  routerLink="catalog">Catalog</a></li>
                    <li> <a mat-flat-button  routerLink="favorites">Favorites</a></li>
                </ul>
            </nav>
        </div>
        <p>header works!</p>
    </div>
</header>

