<div class="filtersWrapper">
    <form class="group" [formGroup]="filterGroup" (ngSubmit)="onSubmit()">
        <div class="field" (click)="handleOpen('brand')">
            <p class="title">Car brand</p>
            <input      
                        matInput
                        formControlName="brand"
						class="input brand"
						type="text"
						placeholder="Enter the text"
						id="brandSearch"
						data-type="brand"
						
						(input)="handleQuery()"
						[value]="filterGroup.controls.brand.value"
						autoComplete="off"
					/>
                    <div class="arrowSvg"
                    [ngClass]="isOpen.brand ? 'arrowDown' : ''"
                    >
                        <svg-icon-sprite
                        [src]="'sprite.svg#icon-arrow'"
                        ></svg-icon-sprite>
                    </div>
                    @if(isOpen.brand){
                        <div class="filterListWrapper brand">
                            <ul class="filterList" (click)="handlePick($event, 'brand')">
                                @for(brand of brandsArr;let idx = $index; track idx){
                                    <li class="filterItem">{{brand}}</li>
                                }
                            </ul>
                        </div>
                    }
        </div>
        <div class="field" (click)="handleOpen('price')">
            <p class="title">Price/ 1 hour</p>
            <div
            class="input price"
            >
            {{ 'To ' + filterGroup.controls.price.value + ' $' }}
            </div>
            <div class="arrowSvg"
            [ngClass]="isOpen.price ? 'arrowDown' : ''"
            >
                <svg-icon-sprite
                [src]="'sprite.svg#icon-arrow'"
                ></svg-icon-sprite>
            </div>
            @if(isOpen.price){
                <div class="filterListWrapper price">
                    <ul class="filterList" (click)="handlePick($event, 'price')">
                        @for(price of priceArr; track price){
                            <li class="filterItem">{{price}}</li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div class="mileAge">
            <p class="title">Car mileage / km</p>
            <div class="mileAgeWrapper">
                <input matInput type="number" formControlName="from" placeholder="from" class="mileageFiled">
                <mat-divider vertical></mat-divider>
                <input matInput type="number" formControlName="to" placeholder="to" class="mileageFiled">
            </div>
        </div>
        <button mat-flat-button class="submitBtn" type="submit">Search</button>
    </form>
</div>
