

.card-wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	width: 274px;
	border-radius: 14px;
	transition: transform 100ms linear;
    overflow: hidden;
}
.card-wrapper:hover {
	transform: scale(1.01);
}
.card-list{
    display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	margin: 0 auto 50px;
}
.moreBtn{
    background-color: initial;
    border: none;
    color: var(--color-accent);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 50px;
    outline: none;
    position: relative;
    text-decoration: underline;
    transition: color linear 100ms;
}
.moreBtn:hover{
    color: #0b44cd;
}
.text {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "manrope", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--color-primary-dark);
	max-width: 800px;
}
.bold {
	font-weight: 700;
}
.bro {
	font-size: 26px;
	font-weight: 700;
}

@media screen and (min-width:768px) {
	.card-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 50px;
		column-gap: 29px;
		margin: 0 auto 100px;
	}
}
@media screen and (min-width: 1024px) {
	.text {
		padding: 0;
	}
}