::ng-deep .mat-mdc-dialog-surface {
  border-radius: 24px;
}
.modal {
  position: relative;
  background-color: var(--color-light);
  padding: 40px 20px;
  width: 90%;
  max-height: 85%;
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  color: var(--color-primary-dark);
}

.group {
  margin-bottom: 24px;
}
.modalWrapper {
  max-height: 70vh;
  overflow: auto;
}
.modalContent::-webkit-scrollbar {
  position: absolute;
  width: 4px;
}
.modalContent::-webkit-scrollbar-thumb {
  background-color: rgba(18, 20, 23, 0.05);
  border-radius: 10px;
}
.img {
  height: 248px;
  width: 461px;
  margin-bottom: 14px;
  border-radius: 14px;
}
.title {
  display: flex;
  align-items: baseline;
  gap: 3px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 8px;
}

.carModel {
  display: block;
  /* max-width: 100px; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}
.colorAccent {
  color: var(--color-accent);
}
.bold {
  font-weight: 600;
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 14px;
  max-width: 460px;
}
.infoList {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-secondary-dark);
  overflow: auto;
}
.infoList::-webkit-scrollbar {
  height: 2px;
}
.infoList::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-darker);
  border-radius: 12px; /* roundness of the scroll thumb */
}
.infoItem {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.infoItem:not(:last-child):after {
  position: absolute;
  right: -6px;
  height: 18px;
  content: "";
  border-right: 1px solid var(--color-secondary-dark);
}
.description {
  line-height: 1.5;
  max-width: 450px;
}
.text {
  line-height: 1.5;
  margin-bottom: 8px;
}
/* .dots {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
} */
.conditionsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  max-width: 460px;
  font-size: 12px;
  line-height: 1.5;
}
.condItem {
  background-color: #f9f9f9;
  padding: 7px 14px;
  border-radius: 35px;
}
.button {
  flex-shrink: 0;
  width: 168px;
  font-size: 14px;
  line-height: 1.42;
  font-weight: 600;
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: 12px;
  height: 44px;
  border: none;
  cursor: pointer;
  transition: background-color 100ms linear;
}
.tel {
  color: var(--color-light);
  text-decoration: none;
}
.button:hover {
  background-color: var(--color-accent-dark);
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    width: 541px;
  }
}
