.mobileMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 245px 24px 21px;
    background-color: var(--color-primary-light);
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 9999;
  }
  .open {
    transform: translateX(0);
  }
  .close {
    position: absolute;
    top: 26px;
    right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .navBar {
	display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.nav-link {
    display: block;
	padding: 14px 36px;
	color: var(--color-primary-dark);
	border-radius: 10px;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	transition: background-color 100ms linear;
}
::ng-deep .nav-link.mat-mdc-unelevated-button:not(:disabled){
    background-color: var(--color-secondary-light);

}
.nav-link:hover {
	background-color: var(--color-secondary-darker);
}
::ng-deep .nav-link.active.mat-mdc-unelevated-button:not(:disabled){
    background-color: var(--color-accent);
    color: var(--color-primary-light);
}
.nav-link.active:hover {
	background-color: var(--color-accent-dark);
}
.nav-link.disabled {
	padding: 14px 36px;
	background-color: var(--color-secondary-light);
	border-radius: 10px;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	color: var(--color-secondary-darker);
	pointer-events: none;
}